export JZ_LIBERTY_DOWNLOAD_URL=https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2020-01-08_0300
export JZ_LIBERTY_DISTRIBUTION=${JZ_LIBERTY_DISTRIBUTION:-openliberty-20.0.0.1.zip}

# org.eclipse.microprofile:microprofile:2.0.1
export JZ_TOMEE_DOWNLOAD_URL=https://www-eu.apache.org/dist/tomee/tomee-8.0.1
export JZ_TOMEE_DISTRIBUTION=${JZ_TOMEE_DISTRIBUTION:-apache-tomee-8.0.1-plume.zip}

export JZ_WILDFLY_DOWNLOAD_URL=https://download.jboss.org/wildfly/19.0.0.Beta1
export JZ_WILDFLY_DISTRIBUTION=${JZ_WILDFLY_DISTRIBUTION:-wildfly-19.0.0.Beta1.zip}

#TODO: Payara
export JZ_PAYARA_DOWNLOAD_URL=https://s3-eu-west-1.amazonaws.com/payara.fish/Payara+Downloads/5.194
export JZ_PAYARA_DISTRIBUTION=${JZ_PAYARA_DISTRIBUTION:-payara-5.194.zip}