export JZ_LIBERTY_DOWNLOAD_URL=https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2019-01-24_2339/
export JZ_LIBERTY_DISTRIBUTION=${JZ_LIBERTY_DISTRIBUTION:-openliberty-javaee8-19.0.0.1.zip}

#export JZ_TOMEE_DOWNLOAD_URL=http://ftp.fau.de/apache/tomee/tomee-7.1.0
#export JZ_TOMEE_DISTRIBUTION=${JZ_TOMEE_DISTRIBUTION:-apache-tomee-7.1.0-plume.zip}

export JZ_TOMEE_DOWNLOAD_URL=http://ftp.fau.de/apache/tomee/tomee-8.0.0-M1
export JZ_TOMEE_DISTRIBUTION=${JZ_TOMEE_DISTRIBUTION:-apache-tomee-8.0.0-M1-plume.zip}

export JZ_WILDFLY_DOWNLOAD_URL=https://download.jboss.org/wildfly/15.0.1.Final
export JZ_WILDFLY_DISTRIBUTION=${JZ_WILDFLY_DISTRIBUTION:-wildfly-15.0.1.Final.zip}